@media $min-lg
	.container-fluid
		margin-left: 100px
		margin-right: 100px
		width: auto
		

@media $small-desktop-minmax
	.container
		max-width:1250px

	.container-fluid
		width: auto
		margin-left:0
		margin-right:0