// Fonts mixin
font-url(file)
  return '../fonts/' + file

webfont(family, file, weight, style = 'normal', display = 'auto')
	@font-face
		font-family family
		src url(font-url(file + '.ttf')) format('truetype')
		src url(font-url(file + '.otf')) format('truetype')
		src url(font-url(file + '.dfont')) format('truetype')
		src url(font-url(file + '.woff')) format('truetype')
		font-weight weight
		font-style style
		font-display display
	
absoluteVertical()
	position absolute
	top 50%
	transform translateY(-50%)

absoluteCenter()
	absoluteVertical()
	left 0 
	right 0 
	margin auto