.variant
	border 0
	background-color transparent
	padding 0 
	
.btn-saiba
	background:$white
	text-transform:uppercase
	color:$blue
	padding:5px 50px
	border:none
	cursor:pointer
	font-family:$neo
	transition:.2s ease-in-out
	border:1px solid $blue
	margin-top:50px
	
	@media $mobile-max
		width:100%
		background:transparent
		margin-top:20px

	&:hover
		background:$blue
		color:$white
		border:1px solid $blue
		transition:.2s ease-in-out

.box-more
	text-align:center
	width:100%
	margin-bottom:20px
	
	.btn-more
		background:$white
		padding-left:100px
		padding-right:100px
		height:30px
		border:1px solid $blue
		color:$blue
		font-family:$neo
		text-transform:uppercase	
		cursor:pointer	